<include file="Common:header" />
<body>
<div class="container">
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                    <ul class="breadcrumb">
				    <li><a href="#">Home</a> <span class="divider">/</span></li>
				    <li><a href="#">System Settings</a> <span class="divider">/</span></li>
				    <li class="active">Administrator Management</li>
				    </ul>
				    <p>
					 <form >
					       <div class="input-append">
						    <a class="btn" href='{:U('control')}'>Add Administrator</a>
						    </div>
					 </form>
					</p>
				<legend>Administrator Management</legend>	
                <table class="table table-striped">
	              <thead>
	                <tr>
	                    <th>ID</th>
	                    <th>Name</th>
	                    <th>Status</th>
	                    <th>Login Time</th>
	                    <th>Action</th>
	                </tr>
	              </thead>
	              <tbody>
	               <volist name="list" id="vo">
	                <tr>
	                    <td>{$vo.id}</td>
	                    <td>{$vo.account}</td>
	                    <td><if condition="$vo['status'] eq 1"><i class="icon-ok" /><else/><i class="icon-remove" /></if></td>
	                    <td>{$vo.login_count}</td>
	                    <td><a href="{:U('control',array('id'=>$vo['id']))}">Edit</a>&nbsp;&nbsp;<a href="{:U('control',array('id'=>$vo['id'],'tpl'=>'pwd'))}">Edit Password</a>&nbsp;&nbsp;<if condition="$vo['id'] neq 1"><a href="javascript:void(0);" onclick="del('{:U('del',array('id'=>$vo['id']))}');">Delete</a></if></td>
	                </tr>
	                </volist>
	              </tbody>
	            </table>
	            
	            <div class="pagination pagination-right">
	              <ul>
	                {$show}
	             </ul>
	            </div>
	          
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div>
<script src="__JS__/jquery-1.8.2.min.js"></script>    
<script>
  function del(url){
	  if(url=='') return false;
      if(window.confirm('确定删除该管理员？')){	  
		  $.get(url,function(responseText){
			    var info=responseText['info'];
		        var status=responseText['status'];
		        var url=responseText['url'];
		        if(status==1){
		        alert(info)
		        window.location.href=url;
		        } else alert(info);
		  });
		  return true;
	  }
  }
</script>   
</body>
</html>