<include file="Common:header" />
<body>
<div class="container" style="width:1480px;">
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                     <ul class="breadcrumb">
				    <li><a href="#">Home</a> <span class="divider">/</span></li>
				    <li><a href="#">{$type|ucfirst} Management</a> <span class="divider">/</span></li>
				    <li class="active">{$type|ucfirst} Management</li>
				    </ul>
				<legend><if condition="$list['id'] neq ''">Edit<else/>Add</if> {$type|ucfirst}</legend>	
                    <form class="form-horizontal" id="myForm" method="post" action="{:U('save')}" onsubmit="myForm.submit();">
				    <div class="control-group">
				    <label class="control-label">Title(Optional):</label>
				    <div class="controls">
				    <input type="text" id="title" name="title" check="Require" warning="Title cann't be empty" value=<if condition="$list['id'] eq ''">"Banner for home page"<else/>"{$list.title}"</if> / >
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">Banner Image:</label>
				    <div class="controls">
				    <input type="text" id="image-url" name="url" value="{$list.url}" ><span id="upload-progress" class="help-inline"></span>
				    </div>
				    </div>
				    <div class=" control-group">
		                   <label class="control-label"></label>
		                   <div class="controls fileinput-button">
		                     <span class="fileinput-button"><span>Click Here To Upload</span><input id="fileupload" type="file" name="files" class="input" ></span>
		                     <span class=" iconshadow" ><i class="icon-remove" onClick="tool.removeMovie('#time')"></i></span>
		                     <span class="help-text"><span class="label label-important">Max File Size:<?php echo C(ATTACHSIZE)/1024/1024;?>M</span></span>
		                   </div>
		                </div>

                    <if condition="$list['id'] neq ''">
					<input type="hidden" id="sid" name="sid" value="{$list.sid}" />
                    <else/>
					<input type="hidden" id="sid" name="sid" value="{$sid}" />
				    <!--<div class="control-group">
				    <label class="control-label">For which page:</label>
				    <div class="controls">
				    <select id="sid" name="sid">
						<option value="{$sid}" selected="selected">Main Page</option>
					</select>
				    </div>
				    </div>-->
                    </if>
				    <input type="hidden" id="id" name="id" value="{$list.id}" />
                    <input type="hidden" id="type" name="type" value="{$type}" />
				    <div class="control-group">
				    <div class="controls">
				    <button type="submit" class="btn">Submit</button>
				    </div>
				    </div>
				    </form>
	          
        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div>
<script src="__JS__/jquery-1.8.2.min.js"></script>
<script src="__JS__/jquery.form.js"></script>
<script src="__JS__/CheckForm.js"></script>
<script src="__JS__/jquery-ui.min.js"></script>
<script src="__JS__/jquery.fileupload.js"></script>
<script src="__JS__/common.js"></script>
<script>
var tool={
		uploadMovie:function(url,btn,input,msg){
			jQuery(btn).fileupload({
			    url: url,
			    dataType: 'json',
			    done: function (e, data) {
			    	jQuery.each(data.result.files, function (index, file) {
			    		
			        	if(file.error){
			        		alert(file.error);
			        	}else
			        	   jQuery(input).val(file.name);
			        });
			    },
			    progressall: function (e, data) {
			        var progress = parseInt(data.loaded / data.total * 100, 10);
			         $(msg).html('upload:'+progress + '%');
			    }
			}).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
		},
		removeMovie:function(obj){
			jQuery(obj).val("");
		}
};	
jQuery(function(){
	//var url='__URL__/uploadPdf';
	var url='__URL__/uploadPic/model/banners';
	tool.uploadMovie(url,"#fileupload",'#image-url',"#upload-progress");
});
</script>
</body>
</html>