<!DOCTYPE html>
<html>
<head>
<title>P8創意 燃亮香港</title>
<meta property="og:url"                content="http://202.74.0.45/temp/p/index.html" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="P8創意 燃亮香港" />
<meta property="og:description"        content="立即參加  Be a Huawei P8 Photographer 創意燃亮香港  攝影比賽 成為 Huawei P8 Photographer 贏取豐富禮品!" />
<meta property="og:image"              content="http://202.74.0.45/temp/p/Public/Images/share.jpg" />
  
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="Public/Css/slick.css" rel="stylesheet" media="screen">
<link href="Public/Css/base3.css" rel="stylesheet" media="screen">

</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- nav start -->
<ul id="nav">
	  <li class="current"><a href="#photographer">&nbsp;</a></li>
	  <li><a href="#gallery">&nbsp;</a></li>
	  <li><a href="#photoblog">&nbsp;</a></li>
</ul>
<!-- nav end -->
<!-- header start -->
      <div id="header">
          <div class="headerbox">
                  <div class="containerWraper">
		             <div class="container">
		                      <div id="headerWraper">
		                    <div id="logo">
		                     <div id="huawei" class="logo"><a href="javascript:void(0);"><img src="Public/Images/huawei.png" class="width100"/></a></div>
		                     <div id="poss" class="logo"><a href="javascript:void(0);"><img src="Public/Images/p8.png" class="width100"/></a></div>
		                    </div>
		                  <div class="btn-nav pull-right">
		                     <span><a href="https://www.facebook.com/HuaweiDeviceHK" target="_blank"><img src="Public/Images/fb-ico.png" class="width100" /></a></span>
		                     <span><a href="http://consumer.huawei.com/hk/" target="_blank"><img src="Public/Images/web-ico.png" class="width100" /></a></span>
		                     <span class="menu"><a href="javascript:void(0);"><img src="Public/Images/nav-ico.png" class="width100" /></a></span>
		                 </div> 
		                </div>
		             </div>
		         </div>
          </div>    
      </div>
<!-- header end -->
<!-- menu start -->
<div id="menu">
       <div class="containerWraper">
          <div class="container">
              <div class="menubox">
	                 <ul id="menunav" class="pull-right text-right">
						  <li class="current"><a href="#photographer">創意燃亮香港&nbsp;攝影比賽</a></li>
						  <li><a href="#gallery">Huawei&nbsp;P8&nbsp;Gallery</a></li>
						  <li><a href="#photoblog">P8&nbsp;創光影塗鴉工作坊</a></li>
					</ul>
              </div>
          </div>
       </div>
</div>
<!-- menu end -->

<div id="container">
    <div class="bgs">
         <div class="bg"><img src="Public/Images/bg1.jpg" class="width100"/></div>
         <div class="bg"><img src="Public/Images/bg2.jpg"  class="width100"/></div>
         <div class="bg"><img src="Public/Images/bg3.png"  class="width100"/></div>
    </div>
    <div class="Wraper">    
    <div class="Overlay"></div>
         <div class="section" id="photographer">
				       <div class="containerWraper">
				               <div class="title">
				                   <img src="Public/Images/grapher-title.png" class="width100" />
				               </div>
									   <div class="ContentWraper" style="width:100%;">
									       <div class="uploadphoto">
				                                        <div class="close text-right"><a href="javascript:void(0);"><img src="Public/Images/close.png" /></a></div>
				                                        <div class="width100"><img src="Public/Images/P8-form-title.png" class="width100" /></div>
				                                       
				                                        <div class="uploadwraper">
				                                              <form id="form1" method="post" action="#" enctype="multipart/form-data">
				                                              <table  cellspacing="0" cellpadding="0" width="100%">
													             <tr>
													                <td class="left" id="name-div" valign="top">名稱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
													                <td><input type="text" id="name" name="name" placeholder="請輸入你的名字" maxlength="50"/></td>
													             </tr>
				                                                 <tr>
													                <td class="left" id="email-div" valign="top">電郵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
													                <td><input type="text" id="email" name="email" placeholder="請輸入有效電郵地址"/></td>
													             </tr>
				                                                 <tr>
													                <td class="left" id="email-div2" valign="top">確認電郵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
													                <td><input type="text" id="email2" name="email2" placeholder="請確認電郵地址"/></td>
													             </tr>
													              <tr>
													                <td class="left" id="phone-div" valign="top">聯絡電話&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
													                <td><input type="text" id="phone" name="phone" placeholder="請輸入你的聯絡電話" maxlength="8" onkeyup="this.value=this.value.replace(/[^0-9-]+/,'');"/></td>
													             </tr>
													              <tr>
													                <td class="left" id="hkid-div" valign="top"  ><span>身分證號碼</span><br/><span>(頭4位數字)&nbsp;</span></td>
													                <td valign="top"><input type="text" id="hkid" name="hkid" placeholder="請輸入你的HK ID" maxlength="4"/></td>
													             </tr>
													              <tr>
													                <td class="left" id="title-div" valign="top" style="padding-top:5px;">相片主題&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
													                <td  style="padding-top:5px;"><input type="text" id="title" name="title"  placeholder="請輸入你的相片主題" maxlength="100"/></td>
													             </tr>                                            
																  <tr>
													                <td class="left" id="infor-div" valign="top">相片描述&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
													                <td><input type="text" id="infor" name="infor" placeholder="請輸入相片描述" maxlength="200" /></td>
													             </tr> 
													             
													              <tr>
													                <td class="left"  id="file-div" valign="top">上傳文件&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
													                <td><input id="fileupload" type="file" name="pic" accept="image/jpeg, image/x-png" /></td>
													             </tr>
													             <tr>
													                <td  id="file-notice" colspan="2" valign="top">* 選擇上載圖片檔案，檔案不能超過5MB，僅支援JPG或PNG圖片檔，相片在發布時尺寸可能會被調整。</td>
													             </tr>	
													             <tr>
													                <td  colspan="2"   id="recept-div" ><input type="checkbox" id="recept" name="recept" />&nbsp;&nbsp;我已閱讀及接受相關條款及細則</td>
													             </tr>
													             <tr>
                                                                    <td class="left"  id="secode-div" valign="top">驗證碼</td>
                                                                    <td><input type="text" id="seccode" name="seccode" size="10" /><span class="help-inline"><A HREF="javascript:Verify('#verifyImg6','__URL__/verify/')"><IMG SRC="__URL__/verify/" name="verifyImg" BORDER="0" align="absmiddle" id="verifyImg6" style="margin-left:20px;position:absolute;" title="如果您無法識別圖片，請點擊更換"></a>  </span></td>
													             </tr>
													              		
																	<input type="hidden" id="type" name="type" value="projectphoto"/>
				                                                    <input type="hidden" id="pid" name="pid" value="1"/>
				                                                 <tr>
				                                                    <td colspan="2" class="buttons text-center">
				                                                     <a id="submit" href="javascript:send_data()" ><img src="Public/Images/yes_off.png" class="width100" onmouseover="this.src='Public/Images/yes_on.png'" onmouseout="this.src='Public/Images/yes_off.png'"/></a>
				                                                       <a id="reset" href="javascript:void(0)"><img src="Public/Images/no_off.png" class="width100" onmouseover="this.src='Public/Images/no_on.png'" onmouseout="this.src='Public/Images/no_off.png'" /></a>
				                                                    </td>
				                                                 </tr>
				                                                </table> 
				                                              </form>
				                                              <div class="rules">
				                                                  <div class="rule">                                   
				                                                            <p class="red">第一階段</p>
																			<p>參加者以「Light Painting（光影塗鴉）」的方式拍攝照片，並把照片上載到此網站，即可參加比賽。</p>
																			<p>提交作品日期：2015年6月9日－2015年7月8日</p>
																			<br/>
																			<p>遞交作品後，會經由HUAWEI與專業攝影網站 Photoblog.hk 組成之專業評審團評審，並可進行公開投票，參加者可與好友分享並邀請他們投票 。</p>
																			<p>公開投票日期：2015年7月9日－2015年7月17日</p>
																			<br/>
																			<p class="red">獎項：</p>
																			<p>專業評審大獎（十名）： 由HUAWEI與專業攝影網站 Photoblog.hk 組成之專業評審團選出，每位得獎者均獲HUAWEI P8 乙部(價值 $3,780)。</p>
																			<br/>
																			<p>公眾最喜愛大獎（一名）： 由公開投票選出一名參加者。</p>
																			<p>得獎者可獲HUAWEI P8 乙部(價值 $3,780)。</p>
																			<p>結果公佈日期：2015年7月21日</p>
																			<br/>
																 </div>
																 	                <div class="line"><img src="Public/Images/line2.png" class="width100" /></div>
																 <div class="rule">
																    <p class="red">第二階段</p>
																	<p>Be Our Huawei P8 Photographer 決賽（三名）：</p>
																	<p>HUAWEI將邀請得到「專業評審大獎」的10位得獎者參加HUAWEI P8 捕光工作坊 並以 P8 拍攝光影照片，最後經由專業評審挑選出頭三名 最能表現「HUAWEI P8創意 燃亮香港」的照片，其作品將會出現在HUAWEI電車廣告上。</p>
																	<br/>
																	<p class="red">獎項：</p>
																	<p>冠軍: 現金獎港幣＄10,000</p>
																	<p>亞軍: 現金獎港幣＄5,000</p>
																	<p>季軍: 現金獎港幣＄3,000</p>
																	<br/>
																	<p>決賽結果公佈日期：2015年8月10日</p>
																	<p>選擇上載圖片檔案</p>
																	<p>檔案不能超過5MB，僅支援JPG或PNG圖片檔，相片在發布時尺寸可能會被調整。</p>
																 </div>
				                                              </div>
				                                        </div>
				                                       
		                                       </div>
									   </div>
									   <div class="ContentWraper">
											<p>  燈火，燃亮不同故事，</p>
											<p>燃亮着奮鬥的追夢者；燃亮着片刻的家庭時光，</p>
											<p>此情此景，唯此香港這片彈丸之地獨有。</p>
											<br/>
											<p>你的故事，又是怎樣的呢？立即把專屬你的香港故事以「Light Painting（光影塗鴉）」的方式拍攝上載，即有機會成為HUAWEI P8的專屬攝影師，作品將可刊登上HUAWEI電車廣告，與香港七百萬人分享你的香港光影故事。</p>
											<br/>
											<p style="margin-bottom:5px;">更有機會獲得豐富獎品包括:</p>
											<p style="margin-bottom:5px;">優先參賽獎（100名）: HUAWEI藍牙喇叭音箱乙個 (價值港幣 $488)</p>
											<p style="margin-bottom:5px;">第一階段專業評審獎（10名）及公眾最喜愛大獎（1名）: HUAWEI P8 手機乙部 (價值港幣$3,780)</p>
											<p>專業評審終極大獎 (3名) : 現金港幣＄10,000 (冠軍) / 現金港幣＄5,000(亞軍) /現金港幣＄3,000(季軍)</p>
											    
									   </div>
									   <div class="button text-center"><img src="Public/Images/join-btn.png" /></div>
									    
							   </div>
			 </div>	
				
			  <div class="section" id="gallery">
				        <div class="containerWraper">
			                <div class="title">
			                   <img src="Public/Images/gallery-title.png" class="width100" />
			               </div>
			               <div class="ContentWraper">
						       <div class="text">
						           <span>HUAWEI特意邀請土生土長的香港著名攝影師Photobyben，用HUAWEIP8，</span>
						           <span>以光影塗鴉的攝影技巧記錄香港故事。</span>
						       </div>
						       <div class="photolist">
						            <div class="photowraper">
						                   <div class="photo"><a href="javascript:void(0);"><img src="Public/Images/banner.jpg" class="width100" data-txt='影故事上傳有機會成HUdI P8的專屬攝影師，得到Hs品更可刊登上HUAWEI電車。'/></a></div>
						                   <div class="photo"><a href="javascript:void(0);"><img src="Public/Images/banner2.png" class="width100" data-txt='燃亮着奮鬥的追夢者；燃亮着片刻的家庭時光得到Hs品更可刊登上HUAWEI電車。' /></a></div>
						                   <div class="photo"><a href="javascript:void(0);"><img src="Public/Images/banner3.png" class="width100" data-txt='更有機會獲得豐富獎品包括得到Hs品更可刊登上HUAWEI電車。得到Hs品更可刊登上HUAWEI電車。' /></a></div>
						                    <div class="photo"><a href="javascript:void(0);"><img src="Public/Images/banner4.png" class="width100" data-txt='你的故事，又是怎樣的呢？立即把專屬你的香港故事以「Light Painting（光影塗鴉）」的方式拍攝上載' /></a></div>
						             </div>
						             <div class="author text-right">photo by ben</div>
						             <!-- <div class="words">
						                  <div class="word"></div>
						             </div> -->
						             <div class="showphoto">
						                 <div class="close text-right"><a href="javascript:void(0);"><img src="Public/Images/close.png" /></a></div>
						                 <div class="bigphoto">
						                     <img  class="width100"/>
						                 </div>
						                 <div class="txt"></div>
						                 <div class="facebook text-right"> <div class="fb-share-button" data-href="http://202.74.0.45/temp/p/" data-layout="button_count"></div></div>
						                
						             </div>
						       </div>
						       <div class="playerlist">
						            <div class="player-title text-center">參加者作品</div>
						            <div class="playerwraper">
                              <volist name="photos" id="vo">
                                <if condition="$i%8 eq 1">
                                 <div>
							    </if>
                                <div class="public"><a href="javascript:void(0);"><img src="{:SITE_PATH}Uploads/{$vo.spic}" src2="{:SITE_PATH}Uploads/{$vo.pic}" class="width100" /></a></div>
                                <if condition="($i%8 eq 0) OR ($i eq count($photos))">
                                 </div>
							    </if>
							 </volist>
						            </div>
						             <div class="showplayer">
						                 <div class="close text-right"><a href="javascript:void(0);"><img src="Public/Images/close.png" /></a></div>
						                 <div class="bigphoto">
						                     <img  class="width100"/>
						                 </div>
						                  <div class="txt"></div>
						                 <div class="facebook text-right"> <div class="fb-share-button" data-href="http://202.74.0.45/temp/p/" data-layout="button_count"></div></div>
						                
						             </div>
						       </div>
						   </div>
				         </div>
			    <div class="clearfix"></div>
			  </div>
			  <div class="section" id="photoblog">
				        <div class="containerWraper">
				                <div class="line"><img src="Public/Images/line.png" class="width100" /></div>
				                <div class="title">
					                   <img src="Public/Images/photoblog-title.png" class="width100" />
					             </div>
					             <div class="ContentWraper"> 
								    <div class="infor">
								           <table  cellspacing="0" cellpadding="0" width="100%">
								             <tr>
								                <td class="left" valign="top">簡介:</td>
								                <td>「HUAWEI P8光影塗鴉工作坊」由HUAWEI 聯合Photoblog.hk 舉辨，由專業攝影師Photobyben教導如何用HUAWEI P8拍攝光影塗鴉攝影作品。</td>
								             </tr>
								             <tr>
								             <td   class="left">日期:</td>
								             <td>2015年7月25日</td>
								             </tr>
								             <tr>                                                             
												<td  class="left">時間:</td>
												<td>17:30 － 19:30</td>
											 </tr>
											<tr>
												<td class="left">費用:</td>
												<td>全免</td>
											</tr>
											<tr>
												<td class="left">名額:</td>
												<td>40個</td>
											</tr>
											<tr>
											   <td class="left" valign="top">報名日期:</td>
											   <td>2015年6月9日－2015年7月10日</td>
											</tr>
								          </table>
								    </div>
								    <div class="clearfix"></div>
								    <div class="button text-center join"><a href="http://photoblog.hk" target="_blank"><img src="Public/Images/reg-btn.png" /></a></div>
								    <di class="notice">
									    <p>注意：</p>
										<p>(1) 凡於2015年6月9日－2015年7月10日購買香港原廠行貨HUAWEI P8的客戶，才有資格參加此工作坊。</p>	
										<p>(2) 參加者在報名時，須附上購買香港原廠行貨HUAWEI P8 的購買收據，方可報名參加工作坊。</p>	
										<p>(3) 參加者須到 Photoblog.hk報名參加，Photoblog.hk會負責工作坊之報名事宜。</p>	
										<p>(4) 合資格之參加者會有專人電郵通知，請各位參加者耐心等候。</p>	
										<p>(5) 參加名額30個，數量有限，先到先得。</p>	
										<p>(6) 請參加者在報名前細閱條款及細則。</p>	
																	
									</di>
									  
								</div>	
						</div>
			    <div class="clearfix"></div>
			  </div>
    </div>
</div>

<script type="text/javascript" src="Public/Js/jquery.js"></script>
<script src="Public/Js/jquery.scrollTo.js"></script>
<script src="Public/Js/jquery.nav.js"></script>
<script src="Public/Js/slick.js"></script>
<script>
$(document).ready(function() {
      //var wid=jQuery(window).width();
      //jQuery(".Wraper").css({'width':wid});
	  var top=jQuery("#header").innerHeight();
	
	 $(".menu").hover(function(){
		  jQuery("#menu").show().animate({'top':'0px','opacity':1},1000);
	  });
	  jQuery("#menu").hover(function(){
		  $(this).show().animate({'top':'0px','opacity':1},1000);
	  },function(){
		  jQuery("#menu").animate({'top':'-'+top+'px','opacity':0},function(){
			  jQuery(this).hide();
		  });
	  }); 
	  
	  jQuery("body").on('touchstart',function(){
		  var marTop=jQuery("#menu").css('top');
		  if(marTop=='0px'){
			  jQuery("#menu").animate({'top':'-'+top+'px','opacity':0},function(){
				  jQuery(this).hide();
			  }); 
		  }
	  });
  
	  $('#nav').onePageNav({
		    scrollOffset: 100
		  });
	  $('#menunav').onePageNav({
		    end:function(e){
		    	var index=jQuery("#menunav .current").index();
		    	
		    	jQuery("#nav li").removeClass('current');
		    	jQuery("#nav li").eq(index).addClass('current');
		    },
		    scrollOffset: 100
		  });
  //banner show
  
  jQuery(".photolist .photowraper").slick({
		 prevArrow: '<a data-role="none" class="prev">Previous</a>',
      nextArrow: '<a data-role="none" class="next">Next</a>',
      autoplay: true,
      autoplaySpeed: 5000,
      dots:true,
      dotsClass: 'slickdots',
      customPaging: function(slider, i) {
          return '<a href="javascript:void(0);">' + (i + 1) + '</a>';
      }
	 });
  /* jQuery('.photolist .photowraper').on('afterChange', function(event, slick, currentSlide, nextSlide){
	  var txt=jQuery(".photolist .slick-active").find('img').attr('data-txt');
	  jQuery(".words .word").html(txt);
	  
	}); */
  //players show
  
  $('.playerwraper').slick({
  	prevArrow: '<div class="btn up"><a href="javascript:void(0);"><img src="Public/Images/up.png" class="width100" /></a></div>',
    nextArrow: '<div class="btn down"><a href="javascript:void(0);"><img src="Public/Images/down.png" class="width100" /></a></div>',
		vertical:true,
  });
   jQuery(".photolist .photo").click(function(){
	      var txt=jQuery(this).find('img').attr('data-txt');
		  var src=jQuery(this).find('img').attr('src');
	      jQuery(".showphoto .txt").html(txt);
		  
		  jQuery(".showphoto .bigphoto img").attr('src',src);
		 jQuery(".Overlay").fadeIn();
		 jQuery(".showphoto").fadeIn();
		
	});
	//close showlist
	jQuery(".photolist .close a,.Overlay").click(function(){
		
		
		jQuery(".showphoto").fadeOut();
		jQuery(".Overlay").fadeOut();	
	});
	
	jQuery("#photographer .button").click(function(){
        //console.log('111');
		//jQuery(".uploadphoto").css("top",($(document).scrollTop()-1550)+"px");
				 jQuery(".Overlay").fadeIn();
				 jQuery(".uploadphoto").fadeIn();
			
	});
		//close showlist
	jQuery("#photographer .close a,.Overlay,#reset").click(function(){
			jQuery(".uploadphoto").fadeOut();
			jQuery(".Overlay").fadeOut();	
		});
	
	 
	 jQuery(".public").click(function(){
		  var src=jQuery(this).find('img').attr('src2');
	      
		  jQuery(".showplayer .bigphoto img").attr('src',src);
		 jQuery(".Overlay").fadeIn();
		 jQuery(".showplayer").fadeIn();
		
	});
	//close showlist
	jQuery(".showplayer .close a,.Overlay").click(function(){
		jQuery(".showplayer").fadeOut();
		jQuery(".Overlay").fadeOut();	
	});
  //banner click
  var hei=jQuery("#container").innerHeight();
 
  if(hei<2700)hei=3000;
  jQuery(".Overlay").css({'height':hei});
});
</script>
<script src="Public/Js/jquery.form.js"></script>
<script>
function check_hkid(id) {
  if (/^[a-zA-Z][0-9]{6}[0-9aA]$/.test(id)==false){
    return false;
  }
  var mul = 8, sum = (id.toUpperCase().charCodeAt()-64) * mul--;
  while (mul>1) sum += parseInt(id.substr(8-mul, 1)) * mul--;
  var chksum = (11-(sum % 11)).toString(16);
  if (chksum == "b") chksum = "0";
  return chksum == id.substr(7,1).toLowerCase();
}
function check_form(){
  /*$('#email').val($('#email').val().replace(/(^\s*)|(\s*$)/g, ''));
  $('#email2').val($('#email2').val().replace(/(^\s*)|(\s*$)/g, ''));
  if($('#name').val().length>50){
    return '名稱過長, 請輸入不多於50字符';
  }
  if($('#email').val().length>50){
    return '電郵地址過長, 請輸入不多於50字符';
  }
  if($('#email2').val()!=$('#email').val()){
    return '兩次電郵輸入不一致，請重試';
  }
  if(/^\w+[@]\w+[.][\w.]+$/.test($('#email').val())==false){
    return '請輸入正確的電郵地址';
  }
  if($('#phone').val().length>8){
    return '請輸入不多於8位數字的電話號碼';
  }
  //if(!check_hkid($('#hkid').val())){
  //  return '請輸入合法的HK ID';
  //}
  if(!(/\d{4}/.test($('#hkid').val()))){
    return '請輸入身份證號碼頭四位數字';
  }
  if($('#title').val().length>100){
    return '相片名稱過長, 請輸入不多於100字符';
  }
  if($('#infor').val().length>200){
    return '相片描述過長, 請輸入不多於200字符';
  }
  if('checked'!==$('#recept').attr('checked')){
    return '請閱讀并接受相關條款及細則';
  }*/
  return 'success';
}
function send_data()
{
  var msg=check_form();
  if('success'==msg){
  $.ajax({url:'index.php/Index/check_verify?code='+$('#seccode').val(),
    success:function(data){
      if('success'==data){
        $("#form1").ajaxSubmit({
          url: 'index.php/Index/save',
            //dataType:  'json', //数据格式为json 
            beforeSend: function() { //开始上传 
              $("#file-div").html("上傳中...");
            }, 
            uploadProgress: function(event, position, total, percentComplete) { 
              $("#file-div").html("上傳中... ("+percentComplete+"%)");
            }, 
            success: function(data) { //成功 
              alert('發送成功, 謝謝!');
              location.reload();
            }, 
            error:function(xhr){ //上传失败 
              alert('發送失敗, 請重試');
            } 
        });
      }
      else{
        alert('驗證碼錯誤');
      }
    }});
  }
  else{
    alert(msg);
  }
}
function Verify(obj,path){
	//重载验证码
	var timenow = new Date().getTime();
	var url=path+timenow;
	jQuery(obj).attr('src',url);
  }
</script>
</body>
</html>