<include file="Common:head"/>
<body class="about">
<!-- Header starts -->
<include file="Common:header" />
<!-- Header ends -->

<div id="mainWrapper"> 
	<div id="mainContainer">
		<div id="contentContainer">
			<div id="sectionContainer">
				<!-- About MOD Content starts -->
				<div class="aboutModContainer clearfix">
					<div id="leftCol" class="leftCol">
						    <div class="aboutNavContainer">
					    	<div class="aboutNav"></div>
					    	</div>
					</div>
					<div class="rightCol">
						<h2><img src="Public/images/about/title.png" alt="About MOD" /></h2>
						<p>MOD Makeup Academy 是一間位於中環的化妝學府，由視化妝為藝術的化妝師 Jonathan Li 創辦，雲集了行內最活躍的專業化妝及髮型師，希望讓這門藝術更具學術性地傳授給學員。我們提供多元化的課程，包括專業化妝、髮型及個人化妝等等，以輕鬆的手法及深入淺出的教材，務求令熱愛化妝的人寓學於樂。</p>
						<!--<p>創辦人兼導師 Johnathan Li 於日本著名化妝學府 Mode Gakuen Tokyo Fashion Institute 畢業，修習期間成績優異並獲得多個重點冠軍獎項，回港後迅即被著名品牌 M.A.C. 及 T. Le. Clerc 羅致其下成為予御用化妝師及講師，曾於不同企業提供化妝服務指導包括: Estee Lauder、Sa Sa 、 國泰航空、 Lanes Crawford 、 Citibank 、 3電訊 、 香格里拉 、 Pacific Club 、 Hong Kong Jockey Club 、 Philip Wan等，並曾為香港公開大學及科技大學化妝及形象講師。與本地及海外報章雜誌合作無間包括 Cosmo 、 Uno 、君子雜誌 、 Him，並參與著名國際品牌化妝工作 Estee Lauder 、 Clinque 、 IPSA 、 RMK 、 DHC 、 Skinfood 、 Shiseido 、 Mont Blanc 、 Swarovski、Adidas 、Reebok等。</p>-->
					</div>
				</div>
				<!-- About MOD Content ends -->
			</div>
		</div>
	</div>
</div>

<!-- Footer starts -->
<include file="Common:footer" />
<!-- Footer ends -->
<script type="text/javascript" language="javascript">
	setAboutGallery({$banners},"{:SITE_PATH}",<?php echo count(json_decode($banners));?>);
</script
</body>
</html>