<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1024;" />
<meta name="Description" content="MOD Makeup Academy 屹立中環 8年來 培養超過800名優質化妝師，由 星級化妝師Jonathan Li 創辦，把秘技傳授，2015年為配合學校擴充，MOD更邀請了城中多位著名化妝師為導師 ，更全面的化妝課程，加上全新校舍，提供學生舒適環境學習" />
<meta name="Keywords" content="MOD MAKEUP ACADEMY" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" /> 
<title>MOD MAKEUP ACADEMY</title>
<base href="{:SITE_PATH}{:THEME_PATH}" />
<link rel="stylesheet" type="text/css" href="__CSS__/global.css" />
<script type="text/javascript" language="javascript" src="__JS__/jquery/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/googlemap.js"></script>
<script type="text/javascript" language="javascript" src="__JS__/jquery/jquery.easing.js"></script>
<script type="text/javascript" language="javascript" src="__JS__/jquery/jquery.mousewheel.js"></script>
<script type="text/javascript" language="javascript" src="__JS__/jquery/jquery.jcarousel.min.js"></script>
<script type="text/javascript" language="javascript" src="__JS__/jquery/jquery.validate.js"></script>
<script type="text/javascript" language="javascript" src="__JS__/jquery/jquery.metadata.js"></script>
<script type="text/javascript" language="javascript" src="__JS__/jquery/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" language="javascript" src="__JS__/jquery/jquery.cycle.all.js"></script>
<script type="text/javascript" language="javascript" src="__JS__/jquery/jquery.colorbox-min.js"></script>
<script type="text/javascript" language="javascript" src="__JS__/raphael-min.js"></script>
<script type="text/javascript" language="javascript" src="__JS__/jwplayer.js"></script>
<script type="text/javascript" language="javascript" src="__JS__/global.js"></script>
<script type="text/javascript" language="javascript" src="__JS__/core.js"></script>


</head>