<!-- Container starts -->
<div style="width: 1100px; margin: 0px auto; font-family:Arial; ">
<!-- Header starts -->
<div class="header">
    <div class='header-div-right' style="visibility:hidden">
        <a href='javascript:void(0)' onclick='change_lang(2)'>中</a>&nbsp;|&nbsp;<a href='javascript:void(0)' onclick='change_lang(1)'>EN</a>
    </div>
    <div class='header-div'>
        <i>Tel: 2898 8283</i>
    </div>
    <div class='header-div'>
        <i>E-Mail: info@gccomhk.com</i>
    </div>
</div>
<!-- Navigator -->
<div class="navigator">
    <div class="logo-div">
        <a href=""><img id="image-logo" src="{:SITE_PATH}Public/Img/GC/logo.png" ></img></a>
    </div>
    <div class="menu-div">
        <ul class="menu-u">
            <li><div id="menu-home-div"><a id="menu-home-a" href="{:U('/')}">Home</a></div></li>
            <li><div id="menu-whoweare-div"><a id="menu-whoweare-a" href="{:U('/Whoweare')}">Who We Are</a></div></li>
            <li><div id="menu-whatwedo-div"><a id="menu-whatwedo-a" href="{:U('/Whatwedo')}">What We Do</a></div></li>
            <li><div id="menu-smartchoice-div"><a id="menu-smartchoice-a" href="">Smart Choice</a></div></li>
            <li><div id="menu-portfolio-div"><a id="menu-portfolio-a" href="{:U('/Project')}">Portfolio</a></div></li>
            <li><div id="menu-clientlist-div"><a id="menu-clientlist-a" href="{:U('/Clientlist')}">Client List</a></div></li>
            <li><div id="menu-contactus-div"><a id="menu-contactus-a" href="{:U('/Contactus')}">Contact Us</a></div></li>
        </ul>
    </div>
    <div style="clear:both"></div>
</div>
<!-- banner -->
<div class="banner">
    <img width="{:BANNER_WIDTH}" height="{:BANNER_HEIGHT}" src="{:SITE_PATH}{$refurl}"></img>
</div>
<!-- Header ends -->
